<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuodao.bp.product.db.mapper.basic.BorrowDefineTypeMapper">
  <resultMap id="BaseResultMap" type="com.tuodao.bp.product.db.model.basic.BorrowDefineType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_special" jdbcType="INTEGER" property="isSpecial" />
    <result column="vip_level" jdbcType="INTEGER" property="vipLevel" />
    <result column="app_picture_url" jdbcType="VARCHAR" property="appPictureUrl" />
    <result column="pc_picture_url" jdbcType="VARCHAR" property="pcPictureUrl" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="order_number" jdbcType="INTEGER" property="orderNumber" />
    <result column="enable" jdbcType="INTEGER" property="enable" />
    <result column="is_show" jdbcType="INTEGER" property="isShow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, code, name, is_special, vip_level, app_picture_url, pc_picture_url, remark, create_time, 
    create_user_id, order_number, enable, is_show
  </sql>
  <select id="selectByExample" parameterType="com.tuodao.bp.product.db.model.basic.BorrowDefineTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from borrow_define_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from borrow_define_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from borrow_define_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tuodao.bp.product.db.model.basic.BorrowDefineTypeExample">
    delete from borrow_define_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tuodao.bp.product.db.model.basic.BorrowDefineType">
    insert into borrow_define_type (id, code, name, 
      is_special, vip_level, app_picture_url, 
      pc_picture_url, remark, create_time, 
      create_user_id, order_number, enable, 
      is_show)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{isSpecial,jdbcType=INTEGER}, #{vipLevel,jdbcType=INTEGER}, #{appPictureUrl,jdbcType=VARCHAR}, 
      #{pcPictureUrl,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=VARCHAR}, #{orderNumber,jdbcType=INTEGER}, #{enable,jdbcType=INTEGER}, 
      #{isShow,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tuodao.bp.product.db.model.basic.BorrowDefineType">
    insert into borrow_define_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="isSpecial != null">
        is_special,
      </if>
      <if test="vipLevel != null">
        vip_level,
      </if>
      <if test="appPictureUrl != null">
        app_picture_url,
      </if>
      <if test="pcPictureUrl != null">
        pc_picture_url,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="orderNumber != null">
        order_number,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="isShow != null">
        is_show,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isSpecial != null">
        #{isSpecial,jdbcType=INTEGER},
      </if>
      <if test="vipLevel != null">
        #{vipLevel,jdbcType=INTEGER},
      </if>
      <if test="appPictureUrl != null">
        #{appPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="pcPictureUrl != null">
        #{pcPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null">
        #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="isShow != null">
        #{isShow,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tuodao.bp.product.db.model.basic.BorrowDefineTypeExample" resultType="java.lang.Long">
    select count(*) from borrow_define_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update borrow_define_type
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.isSpecial != null">
        is_special = #{record.isSpecial,jdbcType=INTEGER},
      </if>
      <if test="record.vipLevel != null">
        vip_level = #{record.vipLevel,jdbcType=INTEGER},
      </if>
      <if test="record.appPictureUrl != null">
        app_picture_url = #{record.appPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.pcPictureUrl != null">
        pc_picture_url = #{record.pcPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNumber != null">
        order_number = #{record.orderNumber,jdbcType=INTEGER},
      </if>
      <if test="record.enable != null">
        enable = #{record.enable,jdbcType=INTEGER},
      </if>
      <if test="record.isShow != null">
        is_show = #{record.isShow,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update borrow_define_type
    set id = #{record.id,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      is_special = #{record.isSpecial,jdbcType=INTEGER},
      vip_level = #{record.vipLevel,jdbcType=INTEGER},
      app_picture_url = #{record.appPictureUrl,jdbcType=VARCHAR},
      pc_picture_url = #{record.pcPictureUrl,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      order_number = #{record.orderNumber,jdbcType=INTEGER},
      enable = #{record.enable,jdbcType=INTEGER},
      is_show = #{record.isShow,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tuodao.bp.product.db.model.basic.BorrowDefineType">
    update borrow_define_type
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isSpecial != null">
        is_special = #{isSpecial,jdbcType=INTEGER},
      </if>
      <if test="vipLevel != null">
        vip_level = #{vipLevel,jdbcType=INTEGER},
      </if>
      <if test="appPictureUrl != null">
        app_picture_url = #{appPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="pcPictureUrl != null">
        pc_picture_url = #{pcPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null">
        order_number = #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="isShow != null">
        is_show = #{isShow,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tuodao.bp.product.db.model.basic.BorrowDefineType">
    update borrow_define_type
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      is_special = #{isSpecial,jdbcType=INTEGER},
      vip_level = #{vipLevel,jdbcType=INTEGER},
      app_picture_url = #{appPictureUrl,jdbcType=VARCHAR},
      pc_picture_url = #{pcPictureUrl,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      order_number = #{orderNumber,jdbcType=INTEGER},
      enable = #{enable,jdbcType=INTEGER},
      is_show = #{isShow,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>