<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuodao.bp.operation.persistence.mapper.basic.OpCouponMapper" >
  <resultMap id="BaseResultMap" type="com.tuodao.bp.operation.persistence.model.basic.OpCoupon" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="discount_title" property="discountTitle" jdbcType="VARCHAR" />
    <result column="discount_type" property="discountType" jdbcType="INTEGER" />
    <result column="discount_available" property="discountAvailable" jdbcType="VARCHAR" />
    <result column="money_limit" property="moneyLimit" jdbcType="INTEGER" />
    <result column="date_limit" property="dateLimit" jdbcType="INTEGER" />
    <result column="effect_day" property="effectDay" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="gmt_creator" property="gmtCreator" jdbcType="VARCHAR" />
    <result column="gmt_modifier" property="gmtModifier" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, discount_title, discount_type, discount_available, money_limit, date_limit, effect_day, 
    remark, gmt_create, gmt_modify, gmt_creator, gmt_modifier, is_del
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tuodao.bp.operation.persistence.model.basic.OpCouponExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from op_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from op_coupon
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from op_coupon
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.tuodao.bp.operation.persistence.model.basic.OpCouponExample" >
    delete from op_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tuodao.bp.operation.persistence.model.basic.OpCoupon" >
    insert into op_coupon (id, discount_title, discount_type, 
      discount_available, money_limit, date_limit, 
      effect_day, remark, gmt_create, 
      gmt_modify, gmt_creator, gmt_modifier, 
      is_del)
    values (#{id,jdbcType=BIGINT}, #{discountTitle,jdbcType=VARCHAR}, #{discountType,jdbcType=INTEGER}, 
      #{discountAvailable,jdbcType=VARCHAR}, #{moneyLimit,jdbcType=INTEGER}, #{dateLimit,jdbcType=INTEGER}, 
      #{effectDay,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP}, #{gmtCreator,jdbcType=VARCHAR}, #{gmtModifier,jdbcType=VARCHAR}, 
      #{isDel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tuodao.bp.operation.persistence.model.basic.OpCoupon" >
    insert into op_coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="discountTitle != null" >
        discount_title,
      </if>
      <if test="discountType != null" >
        discount_type,
      </if>
      <if test="discountAvailable != null" >
        discount_available,
      </if>
      <if test="moneyLimit != null" >
        money_limit,
      </if>
      <if test="dateLimit != null" >
        date_limit,
      </if>
      <if test="effectDay != null" >
        effect_day,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
      <if test="gmtCreator != null" >
        gmt_creator,
      </if>
      <if test="gmtModifier != null" >
        gmt_modifier,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="discountTitle != null" >
        #{discountTitle,jdbcType=VARCHAR},
      </if>
      <if test="discountType != null" >
        #{discountType,jdbcType=INTEGER},
      </if>
      <if test="discountAvailable != null" >
        #{discountAvailable,jdbcType=VARCHAR},
      </if>
      <if test="moneyLimit != null" >
        #{moneyLimit,jdbcType=INTEGER},
      </if>
      <if test="dateLimit != null" >
        #{dateLimit,jdbcType=INTEGER},
      </if>
      <if test="effectDay != null" >
        #{effectDay,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreator != null" >
        #{gmtCreator,jdbcType=VARCHAR},
      </if>
      <if test="gmtModifier != null" >
        #{gmtModifier,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tuodao.bp.operation.persistence.model.basic.OpCouponExample" resultType="java.lang.Integer" >
    select count(*) from op_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update op_coupon
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.discountTitle != null" >
        discount_title = #{record.discountTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.discountType != null" >
        discount_type = #{record.discountType,jdbcType=INTEGER},
      </if>
      <if test="record.discountAvailable != null" >
        discount_available = #{record.discountAvailable,jdbcType=VARCHAR},
      </if>
      <if test="record.moneyLimit != null" >
        money_limit = #{record.moneyLimit,jdbcType=INTEGER},
      </if>
      <if test="record.dateLimit != null" >
        date_limit = #{record.dateLimit,jdbcType=INTEGER},
      </if>
      <if test="record.effectDay != null" >
        effect_day = #{record.effectDay,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModify != null" >
        gmt_modify = #{record.gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtCreator != null" >
        gmt_creator = #{record.gmtCreator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtModifier != null" >
        gmt_modifier = #{record.gmtModifier,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null" >
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update op_coupon
    set id = #{record.id,jdbcType=BIGINT},
      discount_title = #{record.discountTitle,jdbcType=VARCHAR},
      discount_type = #{record.discountType,jdbcType=INTEGER},
      discount_available = #{record.discountAvailable,jdbcType=VARCHAR},
      money_limit = #{record.moneyLimit,jdbcType=INTEGER},
      date_limit = #{record.dateLimit,jdbcType=INTEGER},
      effect_day = #{record.effectDay,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{record.gmtModify,jdbcType=TIMESTAMP},
      gmt_creator = #{record.gmtCreator,jdbcType=VARCHAR},
      gmt_modifier = #{record.gmtModifier,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tuodao.bp.operation.persistence.model.basic.OpCoupon" >
    update op_coupon
    <set >
      <if test="discountTitle != null" >
        discount_title = #{discountTitle,jdbcType=VARCHAR},
      </if>
      <if test="discountType != null" >
        discount_type = #{discountType,jdbcType=INTEGER},
      </if>
      <if test="discountAvailable != null" >
        discount_available = #{discountAvailable,jdbcType=VARCHAR},
      </if>
      <if test="moneyLimit != null" >
        money_limit = #{moneyLimit,jdbcType=INTEGER},
      </if>
      <if test="dateLimit != null" >
        date_limit = #{dateLimit,jdbcType=INTEGER},
      </if>
      <if test="effectDay != null" >
        effect_day = #{effectDay,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreator != null" >
        gmt_creator = #{gmtCreator,jdbcType=VARCHAR},
      </if>
      <if test="gmtModifier != null" >
        gmt_modifier = #{gmtModifier,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tuodao.bp.operation.persistence.model.basic.OpCoupon" >
    update op_coupon
    set discount_title = #{discountTitle,jdbcType=VARCHAR},
      discount_type = #{discountType,jdbcType=INTEGER},
      discount_available = #{discountAvailable,jdbcType=VARCHAR},
      money_limit = #{moneyLimit,jdbcType=INTEGER},
      date_limit = #{dateLimit,jdbcType=INTEGER},
      effect_day = #{effectDay,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      gmt_creator = #{gmtCreator,jdbcType=VARCHAR},
      gmt_modifier = #{gmtModifier,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>